/.idea/
/.*project
/.settings
/.autotools
/*.user
/*.user.*
/doc/
build*/
cmake-build-*/
/debian/
/CMakeFiles/*
radio/src/CmakeFiles/*
/.vscode/
*.cmake
*.make
*.marks
/nbproject/
*.bin
/radio/src/CMakeFiles/firmware.dir/link.txt