/.idea/
/.*project
/.settings
/.autotools
/*.user
/*.user.*
build*/
cmake-build-*/
/debian/
/CMakeFiles/*
radio/src/CmakeFiles/*
/.vscode/
*.cmake
*.make
*.marks
/nbproject/
*.bin
/radio/src/CMakeFiles/firmware.dir/link.txt
.push.settings.jsonc
build.sh
firm.sh
flash.sh
*.patch
git_tag.txt
