version: 2.1

executors:
  opentx-i6x:
    docker:
      - image: ajjjjjjjj/opentx-docker-i6x:1.5.0

jobs:
  build:
    executor: opentx-i6x
    parameters:
      boards:
        type: string
        default: "-bI6X"
      lang:
        type: string
        default: ALL
    steps:
      - checkout
      - run:
          name: Build OpenI6X
          command: |
            python3 ./tools/build-flysky.py << parameters.boards >> -t<< parameters.lang >> $PWD/
      - store_artifacts:
          path: output

workflows:
  openi6x-release:
    jobs:
      # EN-only build for feature branches
      - build:
          name: build-en
          boards: "-bI6X_DFPLAYER -bI6X_HELI -bI6X"
          lang: EN
          filters:
            branches:
              ignore:
                - master
                - /.*-maintenance/

      # Full builds for release branches
      - build:
          name: build-std
          boards: "-bI6X"
          filters:
            branches:
              only:
                - master
                - /.*-maintenance/

      - build:
          name: build-std-dfplayer
          boards: "-bI6X_DFPLAYER"
          filters:
            branches:
              only:
                - master
                - /.*-maintenance/

      - build:
          name: build-heli
          boards: "-bI6X_HELI"
          filters:
            branches:
              only:
                - master
                - /.*-maintenance/

      - build:
          name: build-heli-dfplayer
          boards: "-bI6X_HELI_DFPLAYER"
          filters:
            branches:
              only:
                - master
                - /.*-maintenance/
